.chat-container {
	height: 100%;
  width: 100%;
	background-color: white;
	margin-right: 20px;
	overflow: scroll;
  max-height: 550px;
  overflow-x: hidden;
  color: black;
}

.message {
  text-align: right;
}

.other {
  text-align: left;
}

.other .md-avatar {
  align-self: right;
}

