<div class="baller-form-container">
  
  <h2>Welcome to the future of TP<small>Please log in here.</small></h2>
  
  <form class="baller-form" ng-show="!loading">
    
    <div class="baller-group">      
      <input type="text" ng-model="user.email" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Email</label>
    </div>
      
    <div class="baller-group">      
      <input type="password" ng-model="user.password" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Password</label>
    </div>

    <div class="baller-group">
      <md-checkbox ng-model="user.remember_me" aria-label="Checkbox 1">
          Remember Me?
      </md-checkbox>
    </div>
    <md-button type="submit" class="md-raised md-primary" ng-click="login()">Login</md-button>
  </form>

  
  <md-progress-circular md-mode="indeterminate" ng-show="loading" align="center"></md-progress-circular>
</div>

