<md-content class="md-padding" ng-controller="MainController">
<h3 class="md-headline">Welcome, {{userName}}</h3>
  <md-input-container id="search-input-container">
    <input type="text" id="search-input" ng-model="searchText">
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Search by any Field</label>
  </md-input-container>

  <md-input-container>
    <label class="rawr">House Filter</label>
    <md-select ng-model="houseFilter" md-selected-text="getSelectedText()" md-container-class="houses-container">
      <md-optgroup label="Houses">
        <md-option ng-value="clear" ng-click="clearFilter()">Clear Filter</md-option>
        <md-option ng-value="house" ng-repeat="house in houseList">{{house}}</md-option>
      </md-optgroup>
    </md-select>
  </md-input-container>


 <v-accordion class="vAccordion--default" onexpand="console.log(index, id)">

 <md-progress-linear md-mode="indeterminate" ng-show="isLoading"></md-progress-linear>
 
  <v-pane ng-repeat="resident in residents | filter:searchText | filter:houseFilter" expanded="resident.isExpanded" >
 
    <v-pane-header ng-click="changeUser(resident.id)">
      <md-list-item class="residents-container" layout="row">
        <img class="md-avatar main-avatar" ng-src="http://www.clker.com/cliparts/A/Y/O/m/o/N/placeholder-hi.png">
        <div flex="20">
          <p>{{resident.first_name + ' ' + resident.last_name}}</p>
        </div>
        <div flex="20">
          <p>Phase: {{resident.phase}}</p>
        </div>
        <div flex="60">
          <p>House: {{resident.house_address}}</p>
        </div>
      </md-list-item >
    </v-pane-header>
      

    <v-pane-content>
      <div class="resident-info" id="{{resident.id}}" layout="row">
        <div flex="40">
          <h3 align="center">Chat</h3>
          <div class="chat-container" schroll-bottom="messages">
            <md-list class="md-dense" flex>
              <md-list-item class="message md-2-line" ng-repeat="message in messages" ng-class="{other: message.userId != myId}">
               <!--  <img ng-src="http://lorempixel.com/400/200" class="md-avatar">  -->
                <div class="md-list-item-text">
                  <p>{{message.userId}}</p>
                  <h3>{{message.text}}</h3>
                </div>
              </md-list-item>
            </md-list>
            
            <div layout="row" layout-align="center end">
              <md-input-container class="item-input-wrapper">
                <input type="text" placeholder="Type your message" ng-keyup="$event.keyCode == 13 && sendMessage()" ng-model="message.text"/>
                <md-button class="md-raised" ng-click="sendMessage()">Send</md-button>
              </md-input-container>
            </div>
          </div>
        </div>

        <div flex="40">
          <h3 align="center">Tasks</h3>
          <div class="tasks-container">
            <md-list flex>
              <md-list-item class="md-1-line singular-task" ng-repeat="task in tasks" ng-click="showListBottomSheet(task, $event)">
                <i class="icon ion-close-circled md-avatar task-incomplete" ng-show="task.complete == false"></i>
                <i class="icon ion-checkmark-circled md-avatar task-complete" ng-show="task.complete == true"></i>
                <h4>{{task.name}}</h4>
              </md-list-item>
            </md-list>
          </div>

        </div>

        <div flex="20">
        <h3 align="center">Actions</h3>
          <md-button class="md-raised" ui-sref="resident({id: resident.id})">
            Details
          </md-button> 
          <!--  <h3 align="center">Map</h3>

          <div class="resident-map-container">
            <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}">
              <ng-map center="{{resident.location.latitude}}, {{resident.location.longitude}}" zoom="15">
                <marker position="[{{resident.location.latitude}}, {{resident.location.longitude}}]"></div>
              </ng-map>
            </div> -->
          </div>
        </div>
      </div>
      
    </v-pane-content>
  </v-pane>

</v-accordion>
</md-content>