<md-content class="md-padding" ng-controller="MainController">
<h1 class="md-display-2">Current Residents</h1>
<h3 class="md-headline">Welcome, {{userEmail}}</h3>
  <md-input-container id="search-input-container">
    <input type="text" id="search-input" ng-model="searchText">
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Search by Name</label>
  </md-input-container>
 <v-accordion class="vAccordion--default">

  <v-pane ng-repeat="resident in residents | filter:searchText" expanded="resident.isExpanded">
    <v-pane-header>
    <div class="residents-container" layout="row">
      <div flex="25">
        <p>{{resident.first_name + ' ' + resident.last_name}}</p>
      </div>
      <div flex="25">
        <p>Phase: {{resident.phase}}</p>
      </div>
      <div flex="25">
        <p> Current Activity: </p>
      </div>
      <div flex="25">
        
      </div>
    </div>
    
    </v-pane-header>

    <v-pane-content>
      
      
    </v-pane-content>
  </v-pane>

</v-accordion>
</md-content>