.resident-information {
	text-align: left;
	font-size: 1.1rem;
	margin-right: 5px;
}

.resident-photo {
	background: white;
	max-width: 100%;
	margin-left: 5px;
	top: 25px;
}


.resident-info-container {
	padding-left: 3px;
}

