.resident-information {
	text-align: left;
	font-size: 1.1rem;
}

.resident-photo {
	background: white;
	max-width: 100%;

}

.resident-tasks {
	background-color: white;
	min-height: 50%;
	margin-right: 15px;
}

.todo-container {
	color: black;
}

