

.calendar-view {
  background-color: white;
  color: black;
  min-height: 650px;
}

.sources-container {
	background-color: #ADD8E6;
	height: 60px;
	line-height: 60px;
}

.sources-container:hover {
	background-color: white;
	cursor: pointer;
}

